body {
    background-image: url('https://cdn.stocksnap.io/img-thumbs/960w/RMDYXIJFJN.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.input-content {
    position: relative;
    width: 40%;
    margin: 25px auto;
    top: 200px;
    padding: 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 4px 9px 17px 0px rgba(0,0,0,1);
    -moz-box-shadow: 4px 9px 17px 0px rgba(0,0,0,1);
    box-shadow: 4px 9px 17px 0px rgba(0,0,0,1);
    background-color: #ffffff96;;
    text-align: center;
}

@media (max-width: 1170px) {
    .input-content {
        width: 90%;
    }
}